@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/scss/custom-colors";

@each $color, $value in $custom-colors {
  .text-#{$color} {
    color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
  }
}
.custom-container {
  padding-top: 64px;
  padding-bottom: 128px;
  @media (max-width: 768px) {
    // 手機板斷點
    padding-top: 24px;
    padding-bottom: 56px;
  }
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.tag {
  height: 29px;
  padding: 4px 16px;
  border-radius: 100px;
  background: #ffe6c6;
  color: #ff8a20;
  font-size: 14px;
  font-weight: 600;
}
.photos img {
  width: 280px;
  height: 208px;
  border-radius: 10.79px;
}

.attendent-card {
  position: relative;
  background-color: white;
  width: 136px;
  height: 146px;
  border-radius: 16px;
  padding: 20px 44px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  .decorative-label {
    position: absolute; // 絕對定位
    top: -14.5px; // 向上移動一半高度（29px / 2）
    left: 50%; // 水平居中
    transform: translateX(-50%); // 調整水平位置
    width: 49px;
    height: 29px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa13c; // 背景顏色
    border-radius: 8px; // 橢圓形
    color: white; // 文字顏色
    font-family: "Poppins", sans-serif; // 字體
    font-size: 14px; // 字體大小
    font-weight: 600; // 字體粗細
  }
  .card-img {
    display: inline-block;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  .card-text {
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
}

.comment-board {
  background-color: #ffe6c6;
  border-radius: 20px;
}

.message-header {
  font-weight: 600;
  font-size: 14px;
  color: #460902;
  display: flex;
  align-items: center;
  gap: 8px;
}

.message-content {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 100px;
  background-color: #fff6eb;
  margin-left: 12px;
  color: #000000;
  @media (max-width: 768px) {
    margin-left: 48px;
  }
}
.time {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #ffa13c;
  @media (max-width: 768px) {
    margin-left: 48px;
  }
}

.replies {
  margin-left: 48px;
  color: #000000;
  gap: 20px;
}

.time a {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #460902;
}

.event-info {
  padding: 24px 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.fs-12 {
  font-size: 12px;
}
